#drawer {
    height: 100%;
}


#drawer>.std-info {
    background-color: #9c27b0;
    background-image: url('https://i.imgur.com/ejx1sFv.jpg');
    background-size: cover;
    padding: 64px 16px 16px 16px;
    color: #FFF;
    font-size: 14px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
}

#drawer>.std-info>.name {
    font-size: 1.2em;
}

#drawer+#app {
    margin-top: 88px;
}

.mdui-btn:not(.mdui-btn-icon) {
    border-radius: 8px;
}

.mdui-list-item {
    border-radius: 10px
}

.mdui-list-item:active {
    background-color: rgba(0, 0, 0, 0.2)
}

/* 側邊欄 */
@media screen and (min-width: 1024px) {
    #drawer .mdui-list-item {
        border-radius: 0 500em 500em 0
    }
}

@media screen and (max-width: 1023px) {
    #drawer .mdui-list-item {
        border-radius: 0
    }
}

/* 獎懲 */
#app .items .item {
    border-left: 10px solid #00ADEA;
}

#app .items .item.positive {
    border-left: 10px solid #8BB96E;
}

#app .items .item.negative {
    border-left: 10px solid #CE5F58;
}