footer.ts.container(style="text-align:center")
    .ts.section.divider
    img.ts.centered.image(src="/icon/icon-nonbg.svg",width="60px")
    p TLHCrawler
        br
        |Powered by gnehs
    a.ts.mini.very.compact.labeled.icon.button(href='https://github.com/EarlySpringCommitee/TLHCrawler')
        i.icon.github
        |GitHub
br