footer.ts.container
    .ts.divider
    p 棒棒勝 2018 (๑•̀ㅂ•́)و✧
    .ts.separated.mini.very.compact.basic.labeled.icon.buttons
        a.ts.button(href='https://github.com/gnehs/tlhc-web-crawler')
            i.icon.github
            |GitHub
        a.ts.button(href='https://gnehs.net/') 
            i.icon.world
            |gnehs.net
        a.ts.button(href='https://t.me/gnehs_OwO') 
            i.icon.telegram
            |@gnehs_OwO
br