doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        style.
            #navigator {
                margin: 0 auto;
                text-align: center;
            }
            #login {
                max-width: 400px;
            }
            #score{
                min-width: 992px;
            }
            #score tr:nth-child(1)>td{
                background: #f7f7f7;
                font-weight: 500;
                color: #404040;
                font-size: 1em;
            }
            #score tr:last-child{
                display: none;
            }
            #score td>font{
                font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
            }
            .gs.scroll{
                overflow: scroll;
                min-width: 100%;
            }
        script.
            function search(){
                var search=document.getElementById('search').value
                if(!search){
                    alert("未輸入任何內容")
                    return;}
                location.href='/tlhc/search/'+search
            }