mixin selectCard(title,link,icon) 
    a.ts.card(href=link)
        .secondary.very.padded.extra.content
            .ts.icon.inverted.header
                i.icon(class=icon)
        .content
            .ts.inverted.center.aligned.header=title
#systemMenu
    .ts.container
        .ts.grid
            .stretched.column
                .ts.inverted.massive.header 選單
            .column
                a.ts.close.massive.button(href='#') 
        .ts.doubling.four.cards
            +selectCard('成績','/tlhc/score/','pie chart') 
            +selectCard('出勤','/tlhc/attendance/','student') 
            +selectCard('獎懲','/tlhc/rewards/','legal') 
            +selectCard('社團及幹部','/tlhc/group/','users') 
            +selectCard('瀏覽匯出資料','/tlhc/csv/','archive') 
            +selectCard('登出','/tlhc/score/logout/','sign out') 
            //-+selectCard(name,link,icon) 
#footerMenu.ts.labeled.icon.centered.tiny.menu.mobile.only
    +menuItem('成績','/tlhc/score/','pie chart') 
    +menuItem('出勤','/tlhc/attendance/','student') 
    +menuItem('選單','#systemMenu','sidebar') 
    +menuItem('獎懲','/tlhc/rewards/','legal') 
    +menuItem('社團及幹部','/tlhc/group/','users') 

