mixin tlhcMenuItem(title,link,icon) 
    a.item(href=link)
        i.icon(class=icon)
        .title=title
#tlhcMenu
    .ts.container
        +tlhcMenuItem('基本資料','/tlhc/info/','user') 
        +tlhcMenuItem('成績','/tlhc/score/','pie chart') 
        +tlhcMenuItem('出勤','/tlhc/attendance/','calendar outline') 
        +tlhcMenuItem('獎懲','/tlhc/rewards/','legal') 
        +tlhcMenuItem('社團及幹部','/tlhc/group/','users') 
        +tlhcMenuItem('瀏覽匯出資料','/tlhc/csv/','file') 
        +tlhcMenuItem('登出','/tlhc/score/logout/','sign out')
