extends _layout.pug
block content
	.ts.container
		h2.ts.header TLHCrawler
		
		h3.ts.header 關於
		p 這ㄍ可愛網站的所有一切

		h3.ts.header 這個網站的成績查詢跟其他東東如何運作
		p 偶們先用尼給的帳號去登入尼們學校ㄉ可愛伺服器，然後把尼的成績從尼們學校ㄉ可愛伺服器拿回來給尼看

		h3.ts.header 這網站架在哪裡
		p 目前使用 Docker 搭建

		h3.ts.header 有開源嗎
		p 有喔 
			a(href='https://github.com/EarlySpringCommitee/TLHCrawler') github.com/EarlySpringCommitee/TLHCrawler
		p 來戳⭐️星星，霸脫


