include _header.pug
include _nav.pug
.ts.container
	h2.ts.header TLHCrawler
	h3.ts.header 關於
		.sub.header 這ㄍ可愛網站的所有一切
	h3.ts.header 誰做的
		.sub.header 可愛的 
			a(href='https://github.com/gnehs') 棒棒勝
	h3.ts.header 這網站架在哪裡
		.sub.header 目前架設在棒棒勝可愛的 NAS 上，使用 Docker 搭建
	h3.ts.header 做這個幹嘛
		.sub.header 學校網站夭壽醜
	h3.ts.header 有開源嗎
		.sub.header 有喔 
			a(href='https://github.com/EarlySpringCommitee/TLHCrawler') github.com/EarlySpringCommitee/TLHCrawler


include _footer.pug


