extends _layout.pug
block content
    .ts.container
        .ts.vertically.padded.slate
            .ts.massive.header!= title
                .sub.header!= message
            if(buttonLink)
                a.ts.primary.button(href=buttonLink)=button
            else
                a.ts.primary.button(href='/') 回首頁


