include _header.pug
body
    header.ts.heading.vertically.padded.fluid.slate
        .ts.center.aligned.container
            h1.ts.center.aligned.header!= title
    include _nav.pug
    br
    .ts.container
        .ts.segmented.selection.items
            each val, index in links
                a.item(href=val)
                    .content
                        .header=index
            else
                .item nothing here


