doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
    body
        header.ts.heading.vertically.padded.fluid.slate
            .ts.center.aligned.container
                h1.ts.center.aligned.header!= title
        include _nav.pug
        br
        .ts.container
            .ts.segmented.selection.items
                each val, index in links
                    a.item(href=val)
                        .content
                            .header=index
                else
                    .item nothing here


