include _header.pug
include _nav.pug
.ts.container
    .ts.doubling.four.cards
        each item in links
            a.ts.card(href=item.link)
                .content
                    .header=item.header
                    .description=item.description
        else
            .ts.card
                .content
                    .description noithing
include _footer.pug