extends _layout.pug
block content
    include _systemMenu.pug
    .ts.container
        -if(user)
            h3.ts.header 基本資料
                .sub.header 確定資料是不是你的（？
            .ts.stackable.three.cards
                -if(user.id)
                    +card('學號',user.id,'qrcode')
                -if(user.name)
                    +card('姓名',user.name,'user')
                -if(user.num)
                    +card('座號',user.num,'student')
        br
        h3.ts.header 選課
            .sub.header 拖移這些課程來排序志願
        #items
            each item in subjects
                a.ts.card(data-hiddenInputs=JSON.stringify(item.hiddenInputs))
                    .content
                        .header=item.name
                            .sub.header=item.teacher?item.teacher+' / '+item.class:item.class
                        .description
                            p=item.time
        br
        #save.ts.fluid.primary.button 儲存
block footer    
    script(src='//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js')
    script(src='//xiaoan.tocas-ui.com/ts.xiaoan.min.js')
    script(src='/js/course.js')
    