include _header.pug
include _nav.pug

.ts.container
    h2.ts.center.aligned.header 從這裡開始
        .sub.header='您好，'+user.name
    .ts.doubling.four.cards
        +selectCard('查成績','/tlhc/score/','pie chart') 
        +selectCard('出勤','/tlhc/day/','student') 
        +selectCard('獎懲','/tlhc/rewards/','legal') 
        +selectCard('登出','/tlhc/score/logout','sign out') 

    

include _footer.pug


