doctype html
html
	head
		title ㄉㄌㄐㄕ - 登入
		meta(name='viewport', content='width=device-width, initial-scale=1.0')       
		link(href='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css',rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',rel='stylesheet')
		script(src='/js/login.js')
	body.mdui-theme-primary-purple.mdui-theme-accent-red
		.mdui-valign(style="margin-top:20vh;")
			.mdui-center
				.box(style="width: 400px;box-shadow: 0 6px 20px #0000001f;overflow: hidden;border-radius: 8px;")
					.mdui-color-theme(style="padding: 146px 40px 28px;")
						if(message)
							.mdui-typo-display-1 喔不
							.mdui-typo-title=message
						else
							.mdui-typo-display-1 登入
					form(method='post',role='form',action=post,onsubmit='return check()',style="padding: 0 40px 62px;")
						.mdui-textfield(style="padding:5px;margin:10px 0")
							label.mdui-textfield-label 學號
							input.mdui-textfield-input(type='text', placeholder='', id='userID', name='userID',required)
						.mdui-textfield(style="padding:5px;margin:10px 0")
							label.mdui-textfield-label 身份證字號
							input.mdui-textfield-input(type='password', placeholder='', id='userPASS', name='userPASS',style='text-transform:uppercase',required)
						button.mdui-btn.mdui-color-theme-accent.mdui-ripple.mdui-float-right.mdui-btn-raised(type='submit',onclick='check()') 登入
				a.mdui-btn.mdui-ripple(style="margin-top:8px",href="/") 
					i.mdui-icon.material-icons.mdui-icon-left chevron_left
					| 回首頁
				
		script(src='//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js")

//-block content
	.ts.container
		if(message)
			h1.ts.center.aligned.negative.poyon.header 喔不
				.sub.header=message
		else
			h1.ts.center.aligned.header 嗨！
				.sub.header 輸入您的學號及身份證字號並開始使用
		#login.ts.centered.secondary.segment.narrow
			form.ts.form(method='post',role='form',action=post,onsubmit='return check()')
				.field
					label 學號
					input(type='text', placeholder='', id='userID', name='userID',required)
				.field
					label 身份證字號
					input(type='password', placeholder='', id='userPASS', name='userPASS',style='text-transform:uppercase',required)
				button.ts.primary.fluid.button(type='submit') 登入
