include _header.pug
body
	header.ts.heading.vertically.padded.fluid.slate
		.ts.center.aligned.container
			h1.ts.center.aligned.header!= title
	include _nav.pug
	br
	.ts.narrow.container
		br
		br
		if(message)
			h1.ts.center.aligned.negative.header 喔不
				.sub.header=message
		else
			h1.ts.center.aligned.header 嗨！
				.sub.header 輸入您的學號及身分證字號並開始使用
		#login.ts.centered.secondary.segment
			form.ts.form(method='post',role='form')
				.field
					label 學號
					input(type='text', placeholder='', id='userID', name='userID',required)
				.field
					label 身分證字號
					input(type='text', placeholder='', id='userPASS', name='userPASS',style='text-transform:uppercase',required)
				button.ts.positive.fluid.button(type='submit') 登入
	include _footer.pug
