include _header.pug
each item in tlhc
    include _nav.pug
    .ts.container
        h3.ts.header=item.title

        if(item.content)
            #content.ts.basic.segment!=item.content
        else
            #content.ts.basic.segment 無內文

        .ts.selection.items
            each file in files
                a.item(href=file.file)
                    i.large.file.outline.icon
                    .content
                        .header 附件
                        .extra=file.name

        button.ts.fluid.labeled.icon.button(onclick='history.back()')
            i.arrow.left.icon
            | 回上頁
include _footer.pug