
include _header.pug
include _nav.pug
.ts.container
    .ts.stackable.two.cards
        each item in tlhc
                a.ts.card(href=item.link)
                    .content
                        .header=item.header
                        .description=item.content
        else
            .ts.header 未找到符合條件的資料
    br
    #navigator
        .ts.buttons
            if pages
                each page in pages
                    a.ts.info.button(href=page.link)=page.text
include _footer.pug